<!DOCTYPE html>
<html>
  <head>
    <title>Budget Master</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body class="container">
    <div id="users_data" data="<%= {userSignedIn: user_signed_in?,
      signOutUrl: destroy_user_session_path}.to_json %>" ></div>

    <div id="react-navbar"></div>
    <%= javascript_pack_tag('navbar') %>

    <div id="react-main"></div>
    <%= yield %>
  </body>
</html>
